/* Global Css */

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0px;
}

/* NavBar */
.header {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    margin: 0px;
}

nav ul {
    background-color : #eee;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    list-style: none;
    float: right;
}

nav ul li .Link {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align : center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

.Link:hover{
    background-color: #0080ff;
    color: #fff;
}

nav ul li .dropDownIcon{
    display:none;
}

/* Mobile Css */
@media screen and (max-width: 680px){
    ul li:not(:nth-child(1)) {
        display: none;
    }
    nav ul li .dropDownIcon{
        display:block;
        float: right;
    }
}
